#pic1{
     width: 206px;
     height: 174px;
     background:url("../images/1 product.png")  center top;
     margin-top: 78px;
     margin-left: 157px;
 }
#pic2{
    width: 80px;
    height: 213px;
    background:url("../images/2 product.png")  center top;
    margin-top: 49px;
    margin-left: 241px;
}
#pic3{
    width: 135px;
    height: 194px;
    background:url("../images/3 product.png")  center top;
    margin-top: 53px;
    margin-left: 220px;
}
#pic4{
    width: 71px;
    height: 209px;
    background:url("../images/4 product.png")  center top;
    margin-top: 48px;
    margin-left: 246px;
}
#pic5{
    width: 235px;
    height: 193px;
    background:url("../images/5 product.png")  center top;
    margin-top: 37px;
    margin-left: 192px;
}
#pic6{
    width: 154px;
    height: 132px;
    background:url("../images/6 product.png")  center top;
    margin-top: 89px;
    margin-left: 217px;
}
#pic7{
    width: 200px;
    height: 170px;
    background:url("../images/7 product.png")  center top;
    margin-top: 72px;
    margin-left: 172px;
}
#pic8{
    width: 237px;
    height: 191px;
    background:url("../images/8 product.png")  center top;
    margin-top: 87px;
    margin-left: 147px;
}
#pic9{
    width: 80px;
    height: 213px;
    background:url("../images/9 product.png")  center top;
    margin-top: 48px;
    margin-left: 248px;
}
#pic10{
    width: 241px;
    height: 167px;
    background:url("../images/9.1product.png")  center top;
    margin-top: 70px;
    margin-left: 163px;
}